.bg{
    background-color: rgb(255, 255, 255);
}
.products-list {
    margin: 20px 0px;
     h2{
        color: black;
        margin-bottom: 10px;
        font-weight: 400px;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
.products-container {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    flex-wrap: wrap;
   
    
}