
.footer {
    background: rgb(231, 231, 231);
    clear: both;
    position: relative;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: column;
    
}